@mixin box-shadow($shadow...) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin bg-style($color) {
    background-color: $color;
    &:hover, &:active {
        background-color: lighten($color, 10%) !important;
    }
}