// colors
$calc-bg: #cfcfd1;
$display-bg: #ecefef;
$clear-btn: #9c4f60;
$equals-btn: #4f609c;
$op-btns: #609c4f;
$num-btns: #383637;

$history-color: #c1c1c1;
$display-color: #060802;

// typography
$display-font: 'Droid Sans Mono', monospace;
$keypad-font: 'Share Tech Mono', monospace;