@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Share+Tech+Mono");
.calculator {
  -moz-box-shadow: 5px 5px 10px rgba(119, 119, 119, 0.5), inset -2px -5px 5px 2px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 5px 5px 10px rgba(119, 119, 119, 0.5), inset -2px -5px 5px 2px rgba(119, 119, 119, 0.5);
  box-shadow: 5px 5px 10px rgba(119, 119, 119, 0.5), inset -2px -5px 5px 2px rgba(119, 119, 119, 0.5);
  height: auto;
  width: 360px;
  margin: 25% auto;
  padding: 10px;
  background-color: #cfcfd1;
  border-radius: 11px 11px 24px 24px; }

#display-div {
  -moz-box-shadow: inset 0px 0px 5px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: inset 0px 0px 5px rgba(119, 119, 119, 0.5);
  box-shadow: inset 0px 0px 5px rgba(119, 119, 119, 0.5);
  width: 90%;
  margin: auto;
  text-align: right;
  border: 6px solid #67686a;
  border-radius: 10px;
  background-color: #ecefef;
  font-family: "Droid Sans Mono", monospace; }
  #display-div #history {
    min-height: 26px;
    font-size: 1em;
    padding-top: 2px;
    padding-right: 10px;
    margin: 0;
    color: #c1c1c1; }
  #display-div #display {
    word-wrap: break-word;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0;
    padding-right: 5px;
    color: #060802; }
  #display-div #error {
    font-size: 1em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: red;
    display: none; }
  #display-div .show {
    display: block !important; }

#keypad {
  position: relative;
  width: 90%;
  margin: 5% auto 10% auto; }
  #keypad #clear {
    background-color: #9c4f60; }
    #keypad #clear:hover, #keypad #clear:active {
      background-color: #b46a7b !important; }
  #keypad #equals {
    background-color: #4f609c; }
    #keypad #equals:hover, #keypad #equals:active {
      background-color: #6a7bb4 !important; }

.button {
  -moz-box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.5), inset -1px -2px 5px rgba(119, 119, 119, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.5), inset -1px -2px 5px rgba(119, 119, 119, 0.5);
  box-shadow: 2px 2px 5px rgba(119, 119, 119, 0.5), inset -1px -2px 5px rgba(119, 119, 119, 0.5);
  background-color: #383637;
  font-family: 'Share Tech Mono', monospace;
  height: 50px;
  width: 24%;
  margin-bottom: 2%;
  margin-right: 1%;
  border: outset 1px #737172;
  border-radius: 8px 8px 22px 22px;
  cursor: pointer;
  position: relative; }
  .button:hover, .button:active {
    background-color: #524f51 !important; }
  .button:active {
    bottom: -3px;
    border: solid 1px #737172; }
  .button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .button:hover {
    border-color: #8d8a8c; }

.operator {
  background-color: #609c4f; }
  .operator:hover, .operator:active {
    background-color: #7bb46a !important; }

.extra-w {
  width: 49%; }

.extra-h {
  height: 105px;
  position: absolute; }
