.calculator {
  height: 400px;
  width: 300px;
  margin: auto;
  padding: 10px;
  background-color: orange; }

#display {
  width: 100%;
  text-align: right; }
  #display p {
    width: 100%;
    font-size: 2em; }
  #display #history {
    font-size: 1em;
    height: 19px;
    margin: 0; }

#keypad {
  position: relative; }

.button {
  height: 50px;
  width: 25%;
  margin: auto; }

.extra-w {
  width: 50%; }

.extra-h {
  height: 100px;
  position: absolute; }
